.head {
    width: 80%;
    font-size: 22px;
}
body{
    background-color: cornflowerblue;
    color: cornsilk;
}
#camera {
    width: 350px;
    height: 300px;
    border: 2px dashed blue;
}
.name_of_objects,#result_object_name,#object_accuracy{
    color: crimson;
}